.input{
  border-radius: 5px;
}
* {
  box-sizing: border-box;
}

.et_post_meta_wrapper >img{
 	width: 50% !important; 
}

.menu-item-1380-es{
 	padding-right: 5px !important; 
}

/*Para el margen de los menos*/
.et_pb_post h2{
	margin-top: 10px;
}

/**RSS Aggregator styling**/
ul.rss-aggregator{
    list-style-type: none;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
}

li.feed-item {
  flex: 0 0 45%;
  border: 1px solid gray;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  margin-right: 0.1em;
  margin-left: 0.5em;
  flex-wrap: wrap;
}
/**fi del RSS Aggregator**/

/*Per a desactivar els comentaris*/
#comment-wrap{
 display: none; 
}

/*Slider principal*/
.et_pb_post_slider.et_pb_bg_layout_dark{
  background-color: #F7F7F7;
}

/*Canvia la mida de les imatges de "eventos"*/
.entry-featured-image-url{
 	width: 20%;
  float: left;
  margin-right: 10px;
  margin-top: 20px;
}

a.more-link{
 float: right;
  clear: none !important;
}

.et_pb_posts .et_pb_post{
 	padding: 1em;
  border: 1px solid lightgrey;
  margin-bottom: 5px;
  border-radius: 5px;
}


/** Padding para las banderas de idioma */
.menu-item-1537{
 padding-right: 0px !important; 
}


/** Apartado ofertas de trabajo! **/
.job_listings{
	margin-top: -1em !important;
}
.job_filters{
  margin-bottom: 15px;
}

.job_types{
 display: none; 
}

.rp4wp-related-job_listing > ul li.job_listing a div.position, .rp4wp-related-job_listing > ul li.no_job_listings_found a div.position, ul.job_listings li.job_listing a div.position, ul.job_listings li.no_job_listings_found a div.position{
	padding: 0px !important;
  margin-left: -20px;
}

.rp4wp-related-job_listing>ul li.job_listing a div.location, .rp4wp-related-job_listing>ul li.job_listing a div.position, .rp4wp-related-job_listing>ul li.job_listing a ul.meta, .rp4wp-related-job_listing>ul li.no_job_listings_found a div.location, .rp4wp-related-job_listing>ul li.no_job_listings_found a div.position, .rp4wp-related-job_listing>ul li.no_job_listings_found a ul.meta, ul.job_listings li.job_listing a div.location, ul.job_listings li.job_listing a div.position, ul.job_listings li.job_listing a ul.meta, ul.job_listings li.no_job_listings_found a div.location, ul.job_listings li.no_job_listings_found a div.position, ul.job_listings li.no_job_listings_found a ul.meta{
	width: 45%;
  
}
.rp4wp-related-job_listing>ul li.job_listing a img.company_logo, .rp4wp-related-job_listing>ul li.no_job_listings_found a img.company_logo, ul.job_listings li.job_listing a img.company_logo, ul.job_listings li.no_job_listings_found a img.company_logo{
 position: initial; 
}

.rp4wp-related-job_listing > ul li.job_listing, .rp4wp-related-job_listing > ul li.no_job_listings_found, ul.job_listings li.job_listing, ul.job_listings li.no_job_listings_found {
	margin-left: -0.5em;
}
.rp4wp-related-job_listing > ul li.job_listing a, .rp4wp-related-job_listing > ul li.no_job_listings_found a, ul.job_listings li.job_listing a, ul.job_listings li.no_job_listings_found a {
	padding: 1em 0em 1em 3em;
}
#left-area ul, .comment-content ul, .entry-content ul, body.et-pb-preview #main-content .container ul{
	list-style-type: none;
}
/*los tipos de trabajo*/
.single_job_listing .meta{
	margin-left: -1em;
}
.todo {
  margin-bottom: 2em;
}
.todo p{
	white-space: pre-line;	
}
.company{
	display: none !important;
}
li.date-posted{
	display: none;
}

/*.requisitos_empleo{
  padding: 5px 10px;
  position: absolute;
 	text-align: left; 
}*/
/*Job application */
.job_application.application{
  display: none;
}

/* Company */
.company_logo{
 display: none; 
}
.negrita{
	font-weight: bold;
}

/*Banner para las páginas de historia y demás*/
.et_pb_module.et_pb_fullwidth_image.et_pb_fullwidth_image_0{
    height: 200px;
}
.et_pb_slide.et_pb_media_alignment_center.et_pb_bg_layout_dark.et-pb-active-slide{
		background-size: cover;
}
/* Slider principal de eventos, En actualidad*/
.et_pb_post_slider.et_pb_bg_layout_dark {
    height: 450px;
}
.et_pb_slide_description{
	margin-bottom: 2em !important;
}

/*paginas pequeños retoques*/
/*widget de empleos, no muestra el titulo*/
.widgettitle{
	display: none;
}
.et_pb_widget.job_manager.widget_recent_jobs{
	margin-top: 2em;
}
.et_pb_widget_area.et_pb_widget_area_right{
 margin-top: -0.65em;
}


/*Cambia tipo de letra si la letra esta en chino*/
:lang(zh-CN){ 
	font-family: "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑";
}

.et_color_scheme_red a{
	color: #ff0000;
}


/* POSTS NOTICIAS */

.et_pb_section{
  padding: 10px 0 !important;
}

a.entry-featured-image-url>img{
 	border-radius: 5px !important;
  margin-right: 1.5em !important;
  margin-top: -0.5em;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
  
}

a.entry-featured-image-url>img:hover{
  opacity:0.8;
}
