.pae_event_entry{
	margin-bottom: 21px;
}

.pae_event_entry h4{
	margin-bottom: 3px;
}

.pae_event_entry h4 a{
	text-decoration: none;
	color: inherit;
}

.pae_event_entry .event_venue{
	font-size: 0.9em;
	color: #777777;
	font-weight: normal;
	font-style: italic;
}

.pae_event_entry p{
	margin-bottom: 3px !important;
}

.pae_event_entry .pae_event_date{
	font-size: 0.9em;
	color: #777777;
}